.bg-primary {
    background-color: #191970 !important; 
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #a7a7d4 !important; 
}

.btn-primary {
    background-color: #191970;
    border-color: #191970;
}
.btn-primary:hover {
    background-color: #2c2c9d;
    border-color: #2c2c9d;
}
